@charset "UTF-8";

/*Mobile First*/

/*typical Device Breakpoints

pequenas telas 600px até 768px
medias telas 768px até 992px
grandes telas 992px até 1200px 
extras  telas acima de 1200px
*/

@media print {
body{
    background-image: url(../imagens/back-print.jpg);
}
img#tel{display: none;}
img#print{display: block;}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
   body{
    background-image: url(../imagens/back-tablet.jpg);
   }
   img#tel{display: none;}
   img#tab{display: block;}
}
@media screen and (min-width: 992px) and (max-width: 12000px) {
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#tel{display: none;}
    img#comp{display: block;}
}
@media screen and (min-width: 1200px) {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    img#tel{display: none;}
    img#tv{display: block;}
}

