@charset "UFT-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background: url(pexels-michelangelo-buonarroti-8728556-min.jpg) right center no-repeat black ;
    background-size: cover;
    background-attachment: fixed;
}
.container{
    width: 500px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.384);
    border-radius: 10px;
    padding: 10px;
    color: #ffffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
} 
h1{
    font-size: 2em;
    text-align: center;
}
p{
    text-align: center;
    font-size: 1em;
}
div.input-login{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.input-login label{
    position: absolute;
    left: 15px;
    top: 50%;
    padding: 0 27px;

    transform: translateY(-50%);
}
.input-login > input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    outline: none;
    padding: 20px 45px 20px 20px;
    border: none;
    border: 2px solid white;
    border-radius: 40px;
}
.input-login > input::placeholder{
    color: #ffffffa2;
}
i{
    position: absolute;
    font-size: 20px;
    right: 50px;
    top: 50%;
    transform: translateY(-50%)
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    margin: 0px 23px 15px;
}
.remember-forgot > label > input{
    accent-color: #ffff;
    margin-right: 2px;
}
.remember-forgot > a{
    text-decoration: none;
    color: white;
}
.remember-forgot a:hover{
    text-decoration: underline;
}
.sub-login{
    width: 90%;
    height: 50px;
    margin: 0px 25px 13px;
    border-radius: 40px;
    border: none;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
}
.sub-login:hover{
    background-color: rgba(255, 255, 255, 0.671);
    transition: 0.6s;
}
.register-link{
    font-size: 1em;
}
.register-link a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register-link a:hover{
    text-decoration: underline;
}
