@charset "UTF-8"

body{
    font-family: Arial, Helvetica, sans-serif;
}
table{
    width: 500px;
    border-collapse: collapse;
}
tbody > tr:nth-child(2n) {
    background-color: lightgray;
    /*even, odd */
}
caption{
    background-color: lightgray;
    font-size: 20px;
    color: #d60000;
    font-weight: lighter;
}
thead, tfoot{
    background-color: gray;
    color: white;
}
td, th{
    border: 1px solid black;
    padding: 5px;
}
td.num{
    text-align: right;
}