@charset "UFT-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}
header, section.normal{
    padding: 20px;
}
h1, h2, p{
    margin-bottom: 5px;
    text-align: justify;
    padding: 10px;
}
section.content-flex{
    background-color: lightgrey;
    display: flex;
    flex-flow: column nowrap;

    padding: 20px;
}
article.midia-text{
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}
div.text{
    flex: 1 1 400px;
}
article.text-midia{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}
div.midia{
    flex: 1 0 400px;
}
div.midia > img{
    display: block;
    margin: auto;
}
div.midia > iframe{
    display: block;
    margin: auto;
    width: 90%;
}