@charset "UFT-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: #7d2ae8;
}

/* Container principal com posição relativa */
.input-container {
  position: relative;
  margin-top: 30px;
}

/* O input em si */
.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

/* Label posicionado inicialmente sobre o input */
.input-container label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7d2ae8;
  padding: 0 5px;
  color: #ffffff;
  pointer-events: none; /* Evita que o label interfira no clique */
  transition: 0.3s ease all;
}

/* Animação: quando o input está com foco OU válido (preenchido) */


.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: 0;
    font-size: 12px;
    transform: translateY(-50%) scale(0.9);
    color: white;

}
